@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

/* style of utilities */
body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    /* align-items: center; */

}

/* header section */
.header {
    width: 1320px;
    min-height: 640px;
    background-color: yellow;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #161616;
    border-radius: 30px;
}

.header-information {
    padding-top: 111px;
    padding-left: 105px;
}

.header-information h1 {
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    color: #ffffff;
}

.header-information p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    color: #ffffff;
}

.header-information button {
    width: 187px;
    height: 56px;
    border-radius: 10px;
    margin-top: 29px;
}

.fa-arrow-right {
    padding-left: 10px;
}

.header-img {
    padding-top: 33px;
    padding-right: 79px;
}

.header-img img {
    width: 100%;
    height: 100%;
}


.button-bg {
    background-color: #DD0000;
    color: #ffffff;
}

.button-bg:hover {
    width: 300px;
    transition: ease 5s;
}

.button-bg:hover i {
    margin-left: 100px;
    transition: ease 5s;
}

/*-----------------------------
hero section
------------------------------
*/
.hero {
    display: flex;
    width: 1320px;
    margin-top: 130px;

}

.aside {
    width: 25%;
    height: 300px;
    background-color: #161616;
    /* padding: 20px 15px; */
    border-radius: 15px;


}



.aside button {
    display: block;
    /* margin: 30px; */
    width: 200px;
    height: 64px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: 30px;
}

.aside button a {
    color: #161616;
}

.active-button {
    background-color: #DD0000;
    color: #ffffff;
}

#active {
    color: #ffffff;
}

.right_div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 85%;

    gap: 20px;
    overflow: hidden;
    margin-left: 20px;
}

.card img {
    width: 100%;

}

.card-informatioN {
    margin-top: 10px;
    padding: 10px;
}

.card-informatioN button {
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
}

.card-informatioN .details {
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}

.right-icon {
    margin-left: 50px;
}

/* extra button */
.ex-button {
    display: flex;
    justify-content: center;
}

#extra_button {
    padding: 20px;
    background-color: #DD0000;
    visibility: hidden;
    padding: 12px 29px;
    color: #ffffff;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    margin: 50px 0;

}

/* footer style */
footer {
    background-color: #161616;
    display: flex;
    justify-content: center;
}

.footer_container {
    width: 1320px;

}

.above_hr h1 {
    text-align: center;
    padding-top: 110px;
    padding-bottom: 30px;
    color: #ffffffff;
    font-size: 40px;
    font-weight: 600;
}

.above_hr hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
}


.under_hr_inner {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 100px;
    margin-top: 24px;
}

.under_hr_inner p {
    /* padding: 20px; */
    color: #B9B9B9;
    font-size: 16px;
}

.under_hr_inner div {
    border: 1px solid green;
    color: aliceblue;
    width: 100%;
}

.under_hr_inner p i {
    background-color: #ffffffff;
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
    color: black;
    margin-top: -10px;
}

.icon {
    font-size: 25px;
    margin: 5px;
}

/* responsive for small device */


@media screen and (max-width:786px) {
    .header {
        grid-template-columns: repeat(1, 1fr);

    }

    .header-information {
        text-align: center;
        padding-top: 50px;
        padding-left: 50px;
    }

    .header-information p {
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        padding: 50px 100px;
    }

    .header-img {
        padding-top: 33px;
        margin-left: 70px;

    }

    /*hero section*/
    .hero {
        flex-direction: column;
        align-items: center;
        margin-top: 24px;

    }

    .hero .aside {
        background-color: #ffffff;
    }

    .hero .right_div {
        grid-template-columns: repeat(1, 1fr);
    }

    .card-informatioN button {
        font-size: 16px;
        font-weight: 500;

    }

    .card-informatioN .details {
        font-size: 18px;
        font-weight: 600;
    }

    .footer_container .under_hr .under_hr_inner {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;

    }

    .under_hr_inner p {
        padding: 20px 0px;
        font-size: 25px;
        width: 100%;
        border: 2px solid rgba(255, 255, 255, 0.1);
    }

}

@media screen and (min-width:787px) and (max-width:992px) {
    .header-information {
        padding-bottom: 20px;
    }

    .hero {
        flex-direction: column;
    }

    .hero .aside {
        display: flex;
        width: 100%;
        background-color: #ffffff;
        justify-content: center;

    }

    .right_div {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    .hide {
        display: none;
    }

    #extra_button {
        visibility: visible;
    }

}